h1 {
    color:rebeccapurple;
    text-align: center;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    color: rebeccapurple;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}