body{background-color: thistle;} 

h1 {
    color:rebeccapurple;
    text-align: center;
    font-size: 45px;
    font-family:Garamond, serif; 
}

h2 {
    color: rebeccapurple;
    text-align: center;
    font-size: 35px;
    font-family:Garamond, serif;
}

p {
    color:darkslategray;
    text-align:justify;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color:rebeccapurple;
    text-align:left;
    font-family:Garamond, serif;
    font-size: 35px;
}

.topicos{
    color:darkslategray;
    text-align:justify;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.banner{
    max-width: 100%;
    margin:right;
}