h1 {
    color:rebeccapurple;
    text-align: center;
    font-size: 45px;
    font-family:Garamond, serif; 
}

h2 {
    color: rebeccapurple;
    text-align: center;
    font-size: 35px;
    font-family:Garamond, serif;
}

p {
    color:darkslategray;
    text-align:center, justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}